<div class="card">
  <div id="table">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="first-column white-text font-size-14">SHOTS</mat-header-cell>
        <mat-cell *matCellDef="let element" class="first-column">
          {{ element.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="shotsSH">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">SH</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.shotsSH }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="shotsSHPCT">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">SH%</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.shotsSHPCT }}
          <!-- ((x.g / x.sh).toFixed(3)).startsWith("0.") ? ((x.g / x.sh).toFixed(3)).substring(1) : Number((x.g / x.sh).toFixed(3)) -->
        </mat-cell>
      </ng-container>
       <ng-container matColumnDef="shotsSOG">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">SOG</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.shotsSOG }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="shotsSOGPCT">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">SOG%</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.shotsSOGPCT }}
        </mat-cell>
      </ng-container>

      <mat-header-row  [ngStyle]="{'background-color':this.color}"  *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.name == 'TOTAL' ? 'font-weight-600' : ''"
      (click)="row._id === undefined?'':onClick(row._id)"></mat-row>
    </mat-table>
  </div>
</div>