#playerName {
  font-size: 28pt;
font-family: "Raleway";
  color: #fff;
}

#teamName {
  font-size: 20px;
  color: #fff;
  font-family: "Raleway";
}

#home-logo {
  width: 65px;
}

#player-page-toolbar {
  max-height: 100px!important;
  min-height: 100px!important;
}

.mat-toolbar {
  max-height: 100px!important;
  min-height: 100px!important;
}

#name-div {
  margin-top: 20px;
  margin-left: 20px;
}

#info-div {
  margin-left: 20px;
}

#img-div {
  margin-top: 25px;
}

h2 {
   font-weight: bold;
    font-size: 1.4em;
    line-height: 2;  
    margin: 10px 0px;
}