#playerAggTbl .mat-cell,
#playerAggTbl .mat-header-cell {
  font-size: 12px;
  text-align: center;
}

#playerAggTbl .mat-cell-width {
  max-width: 60px;
  min-width: 45px;
}
.container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 97%;
}

.first-column {
  max-width: 150px;
  min-width: 100px;
  text-align: left;
}

#col-groups {
  padding-top: 7px;
}

.light {
  color: rgba(0,0,0,.54);
}

.center {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

h2 {
   font-weight: bold;
    font-size: 1.4em;
    line-height: 2;  
    margin: 10px 0px;
}

.header {  
  color: #fff;
}

.font-weight-600 {
  font-weight: 600;
}