option_settings:
  - option_name: DEMO_USER
    value: demoUser
  - option_name: DEMO_PASS
    value: 0eAIdl0qn0MOtCuH
  - option_name: HOST
    value: ip-172-31-33-87.us-east-2.compute.internal:27017

# note: sensitive variables are stored in elastic beanstalk configuration on AWS rather than in source control