<mat-card>
  

    <input  #filter placeholder="Filter plays">

  <div id="table">
    <mat-table #table [dataSource]="dataSource" matSort>
       <ng-container matColumnDef="playInGame">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="first-column">PLAY</mat-header-cell>
        <mat-cell *matCellDef="let element" class="first-column">
          {{ element.playInGame }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="period">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="first-column">PERIOD</mat-header-cell>
        <mat-cell *matCellDef="let element" class="first-column">
          {{ element.period }}
        </mat-cell>
      </ng-container>

     
      <ng-container matColumnDef="gameClockStartTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>TIME</mat-header-cell>
        <mat-cell *matCellDef="let element">       
      
          <span>{{element.gameClockStartTime.minutes }}:{{prefixZero(element.gameClockStartTime.seconds)}}</span>
        </mat-cell>
      </ng-container>
       <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>TYPE</mat-header-cell>
        <mat-cell *matCellDef="let element">       
      
          <span>{{element.type !='' ? element.type : 'NA'}}</span>
        </mat-cell>
      </ng-container>
       <ng-container matColumnDef="possession">
        <mat-header-cell *matHeaderCellDef mat-sort-header>TEAM</mat-header-cell>
        <mat-cell *matCellDef="let element">
         <img id="logo" src="../../../assets/images/teams/{{homeTeamCode}}.png" alt=" "  *ngIf="element.possession != 0">
          <img id="logo" src="../../../assets/images/teams/{{awayTeamCode}}.png" alt=" "  *ngIf="element.possession == 0">
        </mat-cell>
      </ng-container>
      {{setPreviousScoreZero()}}
      <ng-container matColumnDef="score">
        <mat-header-cell *matHeaderCellDef mat-sort-header>SCORE</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div *ngIf="element.score != null">
            {{element.score.homeScore}}-{{element.score.visitorScore}}
            {{setPreviousScore(element.score)}}
          </div>
          <div *ngIf="element.score == null" class="grey-text text-lighten-1">
            {{ getPreviousScore() }}
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>PLAY DESCRIPTION</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.description }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</mat-card>
