.mat-card {
  margin: 15px 15px 30px 15px;
}

.mat-column-play {
  max-width: 60px;
}

.mat-column-quarter {
  max-width: 60px;
}

.mat-column-drive {
  max-width: 60px;
}
.mat-column-possession {
  max-width: 90px;
}
.mat-column-situation {
  max-width: 140px;
}
#logo {
  width: auto;
  height: auto;
  max-width: 30px;
  max-height: 30px;
}


@media only screen and (max-width: 600px) {
  .mat-column-description {
    display: none;
  }
  .mat-column-situation {
    max-width: none;
  }
}
