<mat-card>
  
    <input  #filter placeholder="Filter plays">

  <div id="table">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="play">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="first-column">PLAY</mat-header-cell>
        <mat-cell *matCellDef="let element" class="first-column">
          {{ element.playInGame }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="drive">
        <mat-header-cell *matHeaderCellDef mat-sort-header>DRV</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.drive }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quarter">
        <mat-header-cell *matHeaderCellDef mat-sort-header>QTR</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.quarter }}
        </mat-cell>
      </ng-container>
       <ng-container matColumnDef="possession">
        <mat-header-cell *matHeaderCellDef mat-sort-header>TEAM</mat-header-cell>
        <mat-cell *matCellDef="let element">
         <img id="logo" src="../../../assets/images/teams/{{homeTeamCode}}.png" alt=" "  *ngIf="element.possession != 0">
          <img id="logo" src="../../../assets/images/teams/{{awayTeamCode}}.png" alt=" "  *ngIf="element.possession == 0">
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="situation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>SITUATION</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngIf="element.possession">{{homeTeamTidyName}}</span><span *ngIf="!element.possession">{{awayTeamTidyName}}</span>-{{element.down}}-{{element.yardsToGo}}
          <span *ngIf="element.playStartLocation.side">{{homeTeamTidyName}}</span>
          <span *ngIf="!element.playStartLocation.side">{{awayTeamTidyName}}</span>
          {{element.playStartLocation.yardline}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>PLAY DESCRIPTION</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.description }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</mat-card>
