<div id="work-collections">
  <ul id="issues-collection" class="collection z-depth-1">
    <li class="collection-item">
      <div class="row">
        <div class="col s6">
          <span class="collection-header m-0">TEAM STATS</span>
        </div>
        <div class="col s3 right-align">
          <img id="logo" src="../../../assets/images/teams/{{homeTeamStats.code}}.png" alt=" ">
        </div>
        <div class="col s3 right-align">
          <img id="logo" src="../../../assets/images/teams/{{awayTeamStats.code}}.png" alt=" ">
        </div>
      </div>
    </li>
    <li class="collection-item">
      <div class="row">
        <div class="col s6">          
          <p class="collections-content">&nbsp;&nbsp;At Bats</p>
          <p class="collections-content">&nbsp;&nbsp;Runs Scored</p>
          <p class="collections-content">&nbsp;&nbsp;Hits</p>
          <p class="collections-content">&nbsp;&nbsp;Runs Batted In</p>
          <p class="collections-content">&nbsp;&nbsp;Walks</p>
          <p class="collections-content">&nbsp;&nbsp;Strike Outs</p>
          <p class="collections-content">&nbsp;&nbsp;Ground</p>
          <p class="collections-content">&nbsp;&nbsp;Innings pitched</p>
          <p class="collections-content">&nbsp;&nbsp;Hits</p>
          <p class="collections-content">&nbsp;&nbsp;Earned Run</p>
          <p class="collections-content">&nbsp;&nbsp;Base on balls</p>
      <p class="collections-content">&nbsp;&nbsp;Strikeout</p>
      <p class="collections-content">&nbsp;&nbsp;Putout</p>
      <p class="collections-content">&nbsp;&nbsp;Assists</p>
      <p class="collections-content">&nbsp;&nbsp;Errors</p>
        </div>
        <div class="col s3 right-align">
          <p class="collections-content">{{homeTeamStats.hittingAB}}</p>
          <p class="collections-content">{{homeTeamStats.hittingR}}</p>
          <p class="collections-content">{{homeTeamStats.hittingH}}</p>
          <p class="collections-content">{{homeTeamStats.hittingRBI}}</p>
          <p class="collections-content">{{homeTeamStats.hittingBB}}</p>
          <p class="collections-content">{{homeTeamStats.hittingSO}}</p>
          <p class="collections-content">{{homeTeamStats.ground}}</p>
          <p class="collections-content">{{homeTeamStats.pitchingIP}}</p>
          <p class="collections-content">{{homeTeamStats.pitchingH}}</p>
          <p class="collections-content">{{homeTeamStats.pitchingER}}</p>
          <p class="collections-content">{{homeTeamStats.pitchingBB}}</p>
          <p class="collections-content">{{homeTeamStats.pitchingSO}}</p>
          <p class="collections-content">{{homeTeamStats.fieldingPO}}</p>
          <p class="collections-content">{{homeTeamStats.fieldingA}}</p>
          <p class="collections-content">{{homeTeamStats.fieldingE}}</p>
        </div>
        <div class="col s3 right-align">
          <p class="collections-content">{{awayTeamStats.hittingAB}}</p>
          <p class="collections-content">{{awayTeamStats.hittingR}}</p>
          <p class="collections-content">{{awayTeamStats.hittingH}}</p>
          <p class="collections-content">{{awayTeamStats.hittingRBI}}</p>
          <p class="collections-content">{{awayTeamStats.hittingBB}}</p>
          <p class="collections-content">{{awayTeamStats.hittingSO}}</p>
          <p class="collections-content">{{awayTeamStats.ground}}</p>
          <p class="collections-content">{{awayTeamStats.pitchingIP}}</p>
          <p class="collections-content">{{awayTeamStats.pitchingH}}</p>
          <p class="collections-content">{{awayTeamStats.pitchingER}}</p>
          <p class="collections-content">{{awayTeamStats.pitchingBB}}</p>
          <p class="collections-content">{{awayTeamStats.pitchingSO}}</p>
          <p class="collections-content">{{awayTeamStats.fieldingPO}}</p>
          <p class="collections-content">{{awayTeamStats.fieldingA}}</p>
          <p class="collections-content">{{awayTeamStats.fieldingE}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>