  <div id="work-collections">
    <ul id="issues-collection" class="collection z-depth-1">
      <li class="collection-item">
        <div class="row">
          <div class="col s6">
            <span class="collection-header m-0">TEAM STATS</span>
          </div>
          <div class="col s3 right-align">
            <img id="logo" src="../../../assets/images/teams/{{homeTeamStats.code}}.png" alt=" ">
          </div>
          <div class="col s3 right-align">
            <img id="logo" src="../../../assets/images/teams/{{awayTeamStats.code}}.png" alt=" ">
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s6">
            <p class="collections-title">
              FIRST DOWNS
            </p>
            <p class="collections-content">&nbsp;&nbsp;3rd-Down Efficiency</p>
            <p class="collections-content">&nbsp;&nbsp;4th-Down Efficiency</p>
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{getZeroValue(homeTeamStats.stats.firstdowns.fdTotal)}}</p>
            <p class="collections-content">{{showEfficiencies(homeTeamStats.stats.conversions.convThird,homeTeamStats.stats.conversions.convThirdAtt)}}</p>
            <p class="collections-content">{{showEfficiencies(homeTeamStats.stats.conversions.convFourth,homeTeamStats.stats.conversions.convFourthAtt)}}</p>
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{getZeroValue( awayTeamStats.stats.firstdowns.fdTotal) }}</p>
            <p class="collections-content">{{showEfficiencies(awayTeamStats.stats.conversions.convThird,awayTeamStats.stats.conversions.convThirdAtt)}}</p>
            <p class="collections-content">{{showEfficiencies(awayTeamStats.stats.conversions.convFourth,awayTeamStats.stats.conversions.convFourthAtt)}}</p>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s6">
            <p class="collections-title">
              RUSHING YARDS (NET)
            </p>
            <p class="collections-content">&nbsp;&nbsp;Rushing Attempts</p>
            <p class="collections-content">&nbsp;&nbsp;Average Per Rush</p>
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{getValue( homeTeamStats.stats.rushing.rushYards)}}</p>
            <p class="collections-content">{{getValue( homeTeamStats.stats.rushing.rushAtt)}}</p>
            <p class="collections-content">{{homeTeamStats.stats.rushing.rushAtt == 0 ? homeTeamStats.stats.rushing.rushYards : valueReadability(homeTeamStats.stats.rushing.rushYards / homeTeamStats.stats.rushing.rushAtt)}}</p>
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{getValue( awayTeamStats.stats.rushing.rushYards)}}</p>
            <p class="collections-content">{{getValue( awayTeamStats.stats.rushing.rushAtt)}}</p>
            <p class="collections-content">{{awayTeamStats.stats.rushing.rushAtt == 0 ? awayTeamStats.stats.rushing.rushYards : valueReadability(awayTeamStats.stats.rushing.rushYards / awayTeamStats.stats.rushing.rushAtt)}}</p>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s6">
            <p class="collections-title">
              PASSING YARDS (NET)
            </p>
            <p class="collections-content">&nbsp;&nbsp;Completions/Attempts</p>
            <p class="collections-content">&nbsp;&nbsp;Interception </p>
            <p class="collections-content">&nbsp;&nbsp;Touchdowns</p>
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{getValue(homeTeamStats.stats.pass.passYards)}}</p>
            <p class="collections-content">{{homeTeamStats.stats.pass.passComp}}/{{homeTeamStats.stats.pass.passAtt}}</p>
            <p class="collections-content">{{getValue(homeTeamStats.stats.pass.passInt)}}</p>
            <p class="collections-content">{{getValue(homeTeamStats.stats.pass.passTd)}}</p>
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{getValue(awayTeamStats.stats.pass.passYards)}}</p>
            <p class="collections-content">{{awayTeamStats.stats.pass.passComp}}/{{awayTeamStats.stats.pass.passAtt}}</p>
            <p class="collections-content">{{getValue(awayTeamStats.stats.pass.passInt)}}</p>
            <p class="collections-content">{{getValue(awayTeamStats.stats.pass.passTd)}}</p>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s6">
            <p class="collections-title">
              TOTAL OFFENSE YARDS
            </p>  
            <p class="collections-content">
              &nbsp;&nbsp;Total Offense Plays
            </p>
            <p class="collections-content">
              &nbsp;&nbsp;Average Yards Per Play
            </p>          
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{homeTeamStats.stats.pass.passYards + homeTeamStats.stats.rushing.rushYards}}</p>           
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{awayTeamStats.stats.pass.passYards + awayTeamStats.stats.rushing.rushYards}}</p>           
          </div>
          <div class="col s3 right-align">
            <p class="collections-content">{{homeTeamOffenses.length == 0 || homeTeamOffenses.length == 1  ? "-" : homeTeamOffenses.length}}</p>           
          </div>
          <div class="col s3 right-align">
            <p class="collections-content">{{awayTeamOffenses.length == 0 || awayTeamOffenses.length == 1 ? "-" :  awayTeamOffenses.length}}</p>           
          </div>
          <div class="col s3 right-align">
            <p class="collections-content">
              {{
homeTeamOffenses.length == 0  || homeTeamOffenses.length == 1?
            "-"
            :valueReadability((homeTeamStats.stats.pass.passYards + homeTeamStats.stats.rushing.rushYards)/homeTeamOffenses.length)
              }}
            </p>           
          </div>
          <div class="col s3 right-align">
            <p class="collections-content">
              {{
              awayTeamOffenses.length == 0 || awayTeamOffenses.length == 1 ? "-"
            :valueReadability((awayTeamStats.stats.pass.passYards + awayTeamStats.stats.rushing.rushYards)/awayTeamOffenses.length)
              }}
            </p>           
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s6">
            <p class="collections-title">
              TURNOVERS
            </p>
            <p class="collections-content">
              &nbsp;&nbsp;Fumbles: Number-Lost
            </p>
            <p class="collections-content">
              &nbsp;&nbsp;Interceptions Thrown
            </p>
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{homeTeamStats.stats.fumbles.fumbLost + homeTeamStats.stats.defense.dInt}}</p>
            <p class="collections-content">{{homeTeamStats.stats.fumbles.fumbTotal}}/{{homeTeamStats.stats.fumbles.fumbLost}}</p>
            <p class="collections-content">{{homeTeamStats.stats.defense.dInt ? homeTeamStats.stats.defense.dInt : "-"}}</p>
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{awayTeamStats.stats.fumbles.fumbLost + awayTeamStats.stats.defense.dInt}}</p>
            <p class="collections-content">{{awayTeamStats.stats.fumbles.fumbTotal}}/{{awayTeamStats.stats.fumbles.fumbLost}}</p>
            <p class="collections-content">{{awayTeamStats.stats.defense.dInt ? awayTeamStats.stats.defense.dInt : "-"}}</p>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s6">
            <p class="collections-title">
              DEFENSE YARDS ALLOWED
            </p>
            <p class="collections-content">
              &nbsp;&nbsp;Fumbles Number/Yards
            </p>
            <p class="collections-content">
              &nbsp;&nbsp;Int: Number/Yards
            </p>
            <p class="collections-content">
              &nbsp;&nbsp;Sacks: Number/Yards
            </p>
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{awayTeamStats.stats.pass.passYards + awayTeamStats.stats.rushing.rushYards}}</p>
            <p class="collections-content">{{homeTeamStats.stats.defense.dFr}}/{{homeTeamStats.stats.defense.dFryds}}</p>
            <p class="collections-content">{{homeTeamStats.stats.defense.dInt}}/{{ homeTeamStats.stats.defense.dIntYards}}</p>
            <p class="collections-content">{{showEfficiencies(homeTeamStats.stats.defense.dSacks,homeTeamStats.stats.defense.dSackYards)}}</p>
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{homeTeamStats.stats.pass.passYards + homeTeamStats.stats.rushing.rushYards}}</p>
            <p class="collections-content">{{awayTeamStats.stats.defense.dFr}}/{{ awayTeamStats.stats.defense.dFryds}}</p>
            <p class="collections-content">{{awayTeamStats.stats.defense.dInt}}/{{awayTeamStats.stats.defense.dIntYards}}</p>
            <p class="collections-content">{{showEfficiencies(awayTeamStats.stats.defense.dSacks,awayTeamStats.stats.defense.dSackYards)}}</p>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s6">
            <p class="collections-title">
              PUNTS/YARDS
            </p>
            <p class="collections-content">
              &nbsp;&nbsp;Average Yards Per Punt
            </p>
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">
              {{homeTeamStats.stats.punt.puntNum}}/{{homeTeamStats.stats.punt.puntYards}}
            </p>
            <p class="collections-content">{{homeTeamStats.stats.punt.puntNum == 0 ? homeTeamStats.stats.punt.puntYards :
            valueReadability(homeTeamStats.stats.punt.puntYards / homeTeamStats.stats.punt.puntNum)}}</p>
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{awayTeamStats.stats.punt.puntNum}}/{{awayTeamStats.stats.punt.puntYards}}</p>
            <p class="collections-content">{{awayTeamStats.stats.punt.puntNum == 0 ? awayTeamStats.stats.punt.puntYards : valueReadability(awayTeamStats.stats.punt.puntYards / awayTeamStats.stats.punt.puntNum)}}</p>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s6">
            <p class="collections-title">
              KICKOFFS/YARDS
            </p>
            <p class="collections-content">
              &nbsp;&nbsp;Average Yards Per Kickoff
            </p>
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{showEfficiencies(homeTeamStats.stats.kickoff.koNum,homeTeamStats.stats.kickoff.koYards)}}</p>
            <p class="collections-content">{{homeTeamStats.stats.kickoff.koNum == 0 ? "-": valueReadability(homeTeamStats.stats.kickoff.koYards / homeTeamStats.stats.kickoff.koNum)}}</p>
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{showEfficiencies(awayTeamStats.stats.kickoff.koNum,awayTeamStats.stats.kickoff.koYards)}}</p>
            <p class="collections-content">{{awayTeamStats.stats.kickoff.koNum == 0 ? "-": valueReadability(awayTeamStats.stats.kickoff.koYards / awayTeamStats.stats.kickoff.koNum)}}</p>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s6">
            <p class="collections-title">
              RETURNING
            </p>
            <p class="collections-content">
              &nbsp;&nbsp;PR: Number/Yards/TD
            </p>
            <p class="collections-content">
              &nbsp;&nbsp;Average Yards Per Return
            </p>
            <p class="collections-content">
             &nbsp;&nbsp;KR: Number/Yards/TD
            </p>
            <p class="collections-content">
             &nbsp;&nbsp;Average Yards Per Return
            </p>
          </div>
          <div class="col s3 right-align">
            <br/>
            <p class="collections-content">{{homeTeamStats.stats.puntReturn.prNo}}/{{homeTeamStats.stats.puntReturn.prYards}}/{{homeTeamStats.stats.puntReturn.prTd}}</p>
            <p class="collections-content">{{homeTeamStats.stats.puntReturn.prNo == 0 ? homeTeamStats.stats.puntReturn.prYards: valueReadability(homeTeamStats.stats.puntReturn.prYards / homeTeamStats.stats.puntReturn.prNo)}}</p>
             <p class="collections-content">{{homeTeamStats.stats.kickReceiving.krNo}}/{{homeTeamStats.stats.kickReceiving.krYards}}/{{homeTeamStats.stats.kickReceiving.krTd}}</p>
             <p class="collections-content">{{homeTeamStats.stats.kickReceiving.krNo == 0 ? homeTeamStats.stats.kickReceiving.krYards: valueReadability(homeTeamStats.stats.kickReceiving.krYards / homeTeamStats.stats.kickReceiving.krNo)}}</p>
          </div>
          <div class="col s3 right-align">
            <br/>
            <p class="collections-content">{{awayTeamStats.stats.puntReturn.prNo}}/{{awayTeamStats.stats.puntReturn.prYards}}/{{awayTeamStats.stats.puntReturn.prTd}}</p>           
            <p class="collections-content">{{awayTeamStats.stats.puntReturn.prNo == 0 ? awayTeamStats.stats.puntReturn.prYards: valueReadability(awayTeamStats.stats.puntReturn.prYards / awayTeamStats.stats.puntReturn.prNo)}}</p>
            <p class="collections-content">{{awayTeamStats.stats.kickReceiving.krNo}}/{{awayTeamStats.stats.kickReceiving.krYards}}/{{awayTeamStats.stats.kickReceiving.krTd}}</p>
            <p class="collections-content">{{awayTeamStats.stats.kickReceiving.krNo == 0 ? awayTeamStats.stats.kickReceiving.krYards: valueReadability(awayTeamStats.stats.kickReceiving.krYards / awayTeamStats.stats.kickReceiving.krNo)}}</p>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s6">
            <p class="collections-title">
              POSSESSION TIME
            </p>           
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{getValue(homeTeamStats.stats.misc.top)}}</p>            
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{getValue(awayTeamStats.stats.misc.top)}}</p>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s6">
            <p class="collections-title">
              RED ZONE Scores/Chances
            </p>
            <p class="collections-content">
              &nbsp;&nbsp;Touchdowns
            </p>
            <p class="collections-content">
              &nbsp;&nbsp;Field Goals
            </p>
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{showEfficiencies(homeTeamStats.stats.redzone.redScores , homeTeamStats.stats.redzone.redAtt)}}</p>
            <p class="collections-content">{{getZeroValue(homeTeamStats.stats.redzone.redTdRush + homeTeamStats.stats.redzone.redTdPass)}}</p>
            <p class="collections-content">{{getZeroValue(homeTeamStats.stats.redzone.redFgMade)}}</p>
          </div>
          <div class="col s3 right-align">
            <p class="collections-title">{{showEfficiencies(awayTeamStats.stats.redzone.redScores , awayTeamStats.stats.redzone.redAtt)}}</p>
            <p class="collections-content">{{getZeroValue(awayTeamStats.stats.redzone.redTdRush + awayTeamStats.stats.redzone.redTdPass)}}</p>
            <p class="collections-content">{{getZeroValue(awayTeamStats.stats.redzone.redFgMade)}}</p>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <div class="row">
          <div class="col s6">
            <p class="collections-title">
              SCORING
            </p>
            <p class="collections-content">
              &nbsp;&nbsp;Touchdowns
            </p>
            <p class="collections-content">
              &nbsp;&nbsp;Field Goals
            </p>
            <p class="collections-content">
              &nbsp;&nbsp;PATs
            </p>
            <p class="collections-content">
              &nbsp;&nbsp;Points off Turnovers
            </p>
          </div>
          <div class="col s3 right-align">
            <br/>
            <p class="collections-content">{{getZeroValue(homeTeamStats.stats.scoring.td)}}</p>
            <p class="collections-content">{{getZeroValue(homeTeamStats.stats.scoring.fg)}}</p>
            <p class="collections-content">{{getZeroValue(homeTeamStats.stats.scoring.patKick)}}</p>
            <p class="collections-content">{{getZeroValue(homeTeamStats.stats.misc.ptsto)}}</p>
          </div>
          <div class="col s3 right-align">
            <br/>
            <p class="collections-content">{{getZeroValue(awayTeamStats.stats.scoring.td)}}</p>
            <p class="collections-content">{{getZeroValue(awayTeamStats.stats.scoring.fg)}}</p>
            <p class="collections-content">{{getZeroValue(awayTeamStats.stats.scoring.patKick)}}</p>
            <p class="collections-content">{{getZeroValue(awayTeamStats.stats.misc.ptsto)}}</p>
          </div>
        </div>
      </li>
    </ul> 
  </div>
