<div id="recordsPost">
<div class="card">

<mat-card class="example-card mat-elevation-z0" *ngFor="let alert of alerts;let i = index;">
  <mat-card-header>
    <!-- <mat-card-title><img title="Share Facebook" src="../../../assets/images/socialmedia/facebook.png" style="width: 26px;"/>&nbsp;&nbsp;&nbsp;<img title="Share Twitter" src="../../../assets/images/socialmedia/twitter.png" style="width: 23px;"/>&nbsp;&nbsp;&nbsp;<img title="Share Instagram" src="../../../assets/images/socialmedia/instagram.png" style="width: 23px;"/></mat-card-title> -->
    <mat-card-subtitle>
      <span *ngIf="alert.entity === 'Player'">{{alert.playerName}}</span>
      <span *ngIf="alert.entity === 'Team'">STORY {{ i + 1 }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p *ngFor="let record of alert.stories.Records;let i = index;">
      <inner-component [inputData]="record" [inputDataType]="Record" [alertId]="alert._id" [teamColor]="teamColor" [teamCode]="teamCode" [index]="i"></inner-component>  
    </p>
    <p *ngFor="let lasttimewhen of alert.stories.LastTimeWhen;let i = index;">
      <inner-component [inputData]="lasttimewhen" [inputDataType]="Lasttimewhen" [alertId]="alert._id" [teamColor]="teamColor" [teamCode]="teamCode" [index]="i"></inner-component>
    </p>
    <p *ngFor="let streak of alert.stories.Streaks;let i = index;">
      <inner-component [inputData]="streak" [inputDataType]="Streak" [alertId]="alert._id" [teamColor]="teamColor" [teamCode]="teamCode" [index]="i"></inner-component>  
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button class="warn" (click)="showPlayerDetail(alert)">Show Stats <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
  </mat-card-actions>
</mat-card>

</div>
</div>
<input #filter placeholder="Filter Alerts" style="display: none;">
<!-- <div class="row card" id="recordsPost">
  
  <mat-table #recordsPost [dataSource]="dataSource" matSort >
    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header
                       class="first-cell-col white-text">ID</mat-header-cell>
      <mat-cell *matCellDef="let element;let i = index;" class="first-cell-col">
        <span class="grey-text text-darken-2"> {{ i + 1 }} </span>
      </mat-cell>

    </ng-container>
    <ng-container matColumnDef="playerName">
      <mat-header-cell *matHeaderCellDef 
                       class="white-text border-right-cell"><span mat-sort-header class="pull-left white-text "
         >Name </span>
        &nbsp;
         <span [matMenuTriggerFor]="menu" class="cursor"  
          [ngStyle]="{'color': hightLightFilter(entity == 'Team' ? 'teamName' : 'playerName')}"

          > 
          <i class="fa fa-filter" aria-hidden="true" ></i>
         </span>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <form #f="ngForm" (ngSubmit)="onFilterClick(f)">
          <div class="row">
            <div class="input-field col s12 l12 m12" (click)="$event.stopPropagation();">
              <input placeholder="Name" type="text" ngModel name="{{entity == 'Team' ? 'teamName' : 'playerName'}}" id="playerName">
            </div>
            <div class="col s12 l12 m12 center-align">
              <button  type="submit" mat-button><i class="fa fa-search" aria-hidden="true"></i> Filter</button>
              <button  mat-button (click)="onFilterClearClick(f)"><i class="fa fa-remove" aria-hidden="true" ></i> Clear</button>
            </div>
          </div>
        </form>
        </mat-menu></mat-header-cell>
      <mat-cell *matCellDef="let element">
       <span class="blue-text text-lighten-1" 
        *ngIf="element.records?.length <= 0"
        matTooltip="{{entity == 'Team' ? element.teamName : element.playerName}}">{{entity == "Team" ? element.teamName : element.playerName }}&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span>
        <span class="blue-text text-lighten-1 text-line cursor"
         (click)="startEdit(element.records,element.statType,element.statPeriod)" *ngIf="element.records?.length > 0"
         matTooltip="{{entity == 'Team' ? element.teamName : element.playerName}}">{{entity == "Team" ? element.teamName : element.playerName }}&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="statType">
      <mat-header-cell *matHeaderCellDef 
                       class="white-text "><span mat-sort-header class="pull-left white-text "
         >Stat </span>
        &nbsp;
         <span [matMenuTriggerFor]="menu" class="cursor"  
          [ngStyle]="{'color': hightLightFilter('statType')}"
          > 
          <i class="fa fa-filter" aria-hidden="true" ></i>
         </span>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <form #f="ngForm" (ngSubmit)="onFilterClick(f)">
          <div class="row">
            <div class="input-field col s12 l12 m12" (click)="$event.stopPropagation();">
              <input placeholder="Stat" type="text" ngModel name="statType" id="statType">
            </div>
            <div class="col s12 l12 m12 center-align">
              <button  type="submit" mat-button><i class="fa fa-search" aria-hidden="true"></i> Filter</button>
              <button  mat-button (click)="onFilterClearClick(f)"><i class="fa fa-remove" aria-hidden="true" ></i> Clear</button>
            </div>
          </div>
        </form>
        </mat-menu></mat-header-cell>
      <mat-cell *matCellDef="let element" class="ellipsis">
        <span  matTooltip="{{element.statType}}" class="grey-text text-darken-2"> {{ element.statType }} </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="statPeriod">
      <mat-header-cell *matHeaderCellDef 
                       class="white-text"><span mat-sort-header class="pull-left white-text "
         >Period </span>
        &nbsp;
         <span [matMenuTriggerFor]="menu" class="cursor"  
          [ngStyle]="{'color': hightLightFilter('statPeriod')}"
          > 
          <i class="fa fa-filter" aria-hidden="true" ></i>
         </span>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <form #f="ngForm" (ngSubmit)="onFilterClick(f)">
          <div class="row">
            <div class="input-field col s12 l12 m12" (click)="$event.stopPropagation();">
              <input placeholder="Period" type="text" ngModel name="statPeriod" id="statPeriod">
            </div>
            <div class="col s12 l12 m12 center-align">
              <button  type="submit" mat-button><i class="fa fa-search" aria-hidden="true"></i> Filter</button>
              <button  mat-button (click)="onFilterClearClick(f)"><i class="fa fa-remove" aria-hidden="true" ></i> Clear</button>
            </div>
          </div>
        </form>
        </mat-menu></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="grey-text text-darken-2"> {{ element.statPeriod }} </span>
      </mat-cell>
    </ng-container>
     <ng-container matColumnDef="alertType">
      <mat-header-cell *matHeaderCellDef 
                       class="white-text border-right-cell"><span mat-sort-header class="pull-left white-text "
         >Type </span>
        &nbsp;
         <span [matMenuTriggerFor]="menu" class="cursor"  
          [ngStyle]="{'color': hightLightFilter('alertType')}"
          > 
         </span>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <form #f="ngForm" (ngSubmit)="onFilterClick(f)">
          <div class="row">
            <div class="input-field col s12 l12 m12" (click)="$event.stopPropagation();">
              <input placeholder="Type" type="text" ngModel name="alertType" id="alertType">
            </div>
            <div class="col s12 l12 m12 center-align">
              <button  type="submit" mat-button><i class="fa fa-search" aria-hidden="true"></i> Filter</button>
              <button  mat-button (click)="onFilterClearClick(f)"><i class="fa fa-remove" aria-hidden="true" ></i> Clear</button>
            </div>
          </div>
        </form>
        </mat-menu></mat-header-cell>
        <mat-cell *matCellDef="let element">
        <span class="grey-text text-darken-2" *ngIf="element.alertType"> 
          <span *ngIf="element.alertType === 'Post'" class="postgamebtn"><i class="fa fa-line-chart"></i>&nbsp;&nbsp;Progress</span> 
          <span *ngIf="element.alertType === 'Pre'" class="pregamebtn"><i class="fa fa-eye"></i>&nbsp;&nbsp;Watch</span>
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="statValue">
      <mat-header-cell *matHeaderCellDef 
                       class="white-text"><span mat-sort-header class="pull-left white-text "
         >Stat Value </span>
        &nbsp;
         <span [matMenuTriggerFor]="menu" class="cursor"  
          [ngStyle]="{'color': hightLightFilter('statValue')}"
          > 
          <i class="fa fa-filter" aria-hidden="true" ></i>
         </span>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <form #f="ngForm" (ngSubmit)="onFilterClick(f)">
          <div class="row">
            <div class="input-field col s12 l12 m12" (click)="$event.stopPropagation();">
              <input placeholder="Value" type="text" ngModel name="statValue" id="statValue">
            </div>
            <div class="col s12 l12 m12 center-align">
              <button  type="submit" mat-button><i class="fa fa-search" aria-hidden="true"></i> Filter</button>
              <button  mat-button (click)="onFilterClearClick(f)"><i class="fa fa-remove" aria-hidden="true" ></i> Clear</button>
            </div>
          </div>
        </form>
        </mat-menu></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="grey-text text-darken-2"> {{ element.statValue }} </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef 
                       class="white-text border-right-cell"><span mat-sort-header class="pull-left white-text "
         >Position in List </span>
        &nbsp;
         <span [matMenuTriggerFor]="menu" class="cursor"  
          [ngStyle]="{'color': hightLightFilter('position')}"
          > 
          <i class="fa fa-filter" aria-hidden="true" ></i>
         </span>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <form #f="ngForm" (ngSubmit)="onFilterClick(f)">
          <div class="row">
            <div class="input-field col s12 l12 m12" (click)="$event.stopPropagation();">
              <input placeholder="Position" type="text" ngModel name="position" id="position">
            </div>
            <div class="col s12 l12 m12 center-align">
              <button  type="submit" mat-button><i class="fa fa-search" aria-hidden="true"></i> Filter</button>
              <button  mat-button (click)="onFilterClearClick(f)"><i class="fa fa-remove" aria-hidden="true" ></i> Clear</button>
            </div>
          </div>
        </form>
        </mat-menu>
                     </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="grey-text text-darken-2"> {{ element.position }} </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nextStatValue">
      <mat-header-cell *matHeaderCellDef 
                       class="white-text "><span mat-sort-header class="pull-left white-text "
         >Stat Value </span>
        &nbsp;
         <span [matMenuTriggerFor]="menu" class="cursor"  
          [ngStyle]="{'color': hightLightFilter('nextStatValue')}"
          > 
          <i class="fa fa-filter" aria-hidden="true" ></i>
         </span>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <form #f="ngForm" (ngSubmit)="onFilterClick(f)">
          <div class="row">
            <div class="input-field col s12 l12 m12" (click)="$event.stopPropagation();">
              <input placeholder="Value" type="text" ngModel name="nextStatValue" id="nextStatValue">
            </div>
            <div class="col s12 l12 m12 center-align">
              <button  type="submit" mat-button><i class="fa fa-search" aria-hidden="true"></i> Filter</button>
              <button  mat-button (click)="onFilterClearClick(f)"><i class="fa fa-remove" aria-hidden="true" ></i> Clear</button>
            </div>
          </div>
        </form>
        </mat-menu></mat-header-cell>
      <mat-cell *matCellDef="let element" >
        <span class="grey-text text-darken-2"> {{ element.nextStatValue }} </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nextPosition">
      <mat-header-cell *matHeaderCellDef 
                       class="white-text border-right-cell"><span mat-sort-header class="pull-left white-text "
         >Position in List </span>
        &nbsp;
         <span [matMenuTriggerFor]="menu" class="cursor"  
          [ngStyle]="{'color': hightLightFilter('nextPosition')}"
          > 
          <i class="fa fa-filter" aria-hidden="true" ></i>
         </span>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <form #f="ngForm" (ngSubmit)="onFilterClick(f)">
          <div class="row">
            <div class="input-field col s12 l12 m12" (click)="$event.stopPropagation();">
              <input placeholder="Position" type="text" ngModel name="nextPosition" id="nextPosition">
            </div>
            <div class="col s12 l12 m12 center-align">
              <button  type="submit" mat-button><i class="fa fa-search" aria-hidden="true"></i> Filter</button>
              <button  mat-button (click)="onFilterClearClick(f)"><i class="fa fa-remove" aria-hidden="true" ></i> Clear</button>
            </div>
          </div>
        </form>
        </mat-menu></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="grey-text text-darken-2"> {{ element.nextPosition }}
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="socialmedia">
      <mat-header-cell *matHeaderCellDef
                       class="white-text">
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="grey-text text-darken-2">
          <span style="padding-left: 10px;"><img title="Share Facebook" src="../../../assets/images/socialmedia/facebook.png" style="width: 23px;"/>&nbsp;&nbsp;&nbsp;<img title="Share Twitter" src="../../../assets/images/socialmedia/twitter.png" style="width: 23px;"/>&nbsp;&nbsp;&nbsp;<img title="Share Instagram" src="../../../assets/images/socialmedia/instagram.png" style="width: 23px;"/>&nbsp;&nbsp;&nbsp;<img title="Copy Story" src="../../../assets/images/socialmedia/file-copy.png" style="width: 23px;"/></span>
        </span>
      </mat-cell>
    </ng-container>

    
    
    <ng-container *matHeaderRowDef="displayedColumns">
        <div class="mat-header-row" [ngStyle]="{'background':  teamColor}">        
          <div class="mat-header-cell white-text border-right-cell" role="columnheader" style="max-width: 18%;"></div>
          <div class="mat-header-cell white-text border-right-cell" role="columnheader" style="text-align: center;max-width: 30%;">Record</div>         
          <div class="mat-header-cell white-text border-right-cell" role="columnheader" style="max-width: 20%;">Previous/Current Standing</div>          
          <div class="mat-header-cell white-text border-right-cell" role="columnheader" style="max-width: 16%;">Chasing/New Standing</div>
          <div class="mat-header-cell white-text" role="columnheader" style="max-width: 11%;"></div>
         
        </div>
        <mat-header-row [ngStyle]="{'background':  teamColor}"></mat-header-row>
</ng-container>

    <mat-row *matRowDef="let row; columns: displayedColumns;" class="cursor"></mat-row>
  </mat-table>
</div> -->
