.mat-radio-button {
  padding-right: 5px;
}

.card-title {
    font-size: 20px;
    font-weight: 300;
}

.font20
{
	font-size: 15px;
    padding-right: 10px;
}

.row{
	margin-bottom: 8px !important;
}

.filter-height{
	height: calc(100vh - 265px);
    overflow: auto;
}