.searchQuery {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background: #fffaf0a3 !important;
}

.search-circle {
  width: 95% !important;
  padding-left: 1.3rem !important;
  border-radius: 3rem !important;
}

.font1r {
  font-size: 1rem;
  padding-top: 1rem !important;
  text-align: left !important;
}
