<div class="card">
  <div id="table">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="first-column white-text font-size-14">PITCHING</mat-header-cell>
        <mat-cell *matCellDef="let element" class="first-column">
          {{ element.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ip">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">IP</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.ip }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="h">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">H</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.h }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="er">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">ER</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.er }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bb">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">BB</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.bb }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="so">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">SO</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.so }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="r">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">R</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.r }}
        </mat-cell>
      </ng-container>
        <ng-container matColumnDef="ab">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">AB</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.ab }}
        </mat-cell>
      </ng-container>
        <ng-container matColumnDef="ground">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="last-column sort-btn-align-right white-text">G</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.ground }}
        </mat-cell>
      </ng-container>

       <mat-header-row [ngStyle]="{'background-color':this.color}" *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.name == 'TOTAL' ? 'font-weight-600' : ''"
      (click)="row._id === undefined ?'':onClick(row._id)"></mat-row>
    </mat-table>
  </div>
</div>