#roasterTbl .mat-table {
  height: 450px;
  overflow-y: auto;
}

.first-column {
   max-width: 50%;
   min-width: 50%;
  padding-left: 5px;
}

.second-column {
   max-width: 20%;
   min-width: 20%;
  padding-left: 5px;
}

.third-column-header {
  padding-left: 5%;
}
.mat-card {
  margin-right: 10px;
}
.light {
  color: #9E9E9E
}

@media only screen and (max-width: 850px) {
  .mat-card {
    margin-left: 10px;
  }
}


