<div class="card">
  <div id="table">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="first-column white-text">{{title}}</mat-header-cell>
        <mat-cell *matCellDef="let element" class="first-column">
          {{ element.name }}
        </mat-cell>
      </ng-container>
       <ng-container matColumnDef="min">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">MIN</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.min }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="oreb">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">OREB</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.oreb }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dreb">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">DREB</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.dreb }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="treb">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">TREB</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.treb }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ast">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">AST</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.ast }}
        </mat-cell>
      </ng-container>

     

      <ng-container matColumnDef="stl">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">STL</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.stl }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="blk">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">BLK</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.blk }}
        </mat-cell>
      </ng-container>
       <ng-container matColumnDef="to">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">TO</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.to }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="pf">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="sort-btn-align-right white-text">PF</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.pf }}
        </mat-cell>
      </ng-container>   

     <ng-container *matHeaderRowDef="displayedColumns" >
        <div class="mat-header-row header-group-row ">
          <div class="mat-header-cell header-group-cell first-cell-column " role="columnheader">OTHER  </div> 
          </div>         
        <mat-header-row [ngStyle]="{'background-color':this.color}"></mat-header-row>
      </ng-container>
      <mat-header-row [ngStyle]="{'background-color':this.color}" *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row [ngClass]="row.name == 'TOTAL' ? 'font-weight-600' : ''" (click)="onClick(row._id)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  </div>
