@import "../../../styles.css";

#team-bar{
padding-left:10px;
}

#home-logo {
 vertical-align: middle;
  min-width: 60px;
  max-width: 60px;
  font-family: "Raleway";
}
.team-name{
font-family: "Raleway";
font-size: 28pt;
color: #fff;
}

.example-container {
  width: 100%;  
}


.mat-radio-button {
  padding-right: 5px;
}

.card-title {
    font-size: 20px;
    font-weight: 300;
}

.font20
{
	font-size: 15px;
    padding-right: 10px;
}

.row{
	margin-bottom: 8px !important;
}


.selected-Colors{
    background-color: #9e9e9e;
}


#app-content{
  overflow: hidden !important;
}

.data-height{
  height: calc(100vh - 248px);
    overflow: auto;
}